@page
@model AboutModel
@{
    ViewData["Title"] = "O projektu";
}

<p>
    <strong>Děkuji všem, že jste zavítali na webovou stránku Nagas.cz kde najdete Pokemon Go Mapy pro Prahu a další města.</strong>
</p>
<p>
    Tento projekt vzniknul se zánikem předchozích map na pogomap.cz, jelikož nás chýtání podle ní hodně bavilo a žádná jiná už neexistovala, tak mi nezbyla jiná možnost, než vytvoření mapy vlastní.
    Byla to samozřejmě dlouhá cesta a spousta vloženého času nejen z mé strany.
    Samozřejmě jsem se při tvorbě naučil spoustu nových věci, což bylo jedním z hlavním záměrů.
    Cesta je důležitější než cíl.
</p>
<p>
    Provoz mapy stojí měsíčně přibližně přes 5000 Kč.
    <strong>Aby tento projekt přežil a neskončil jako všechny přechozí mapy, prosím podpořte tento web.</strong>
    Nechci, ať to skončí jako pogomap.cz atd., kde se vše víceméně dělalo zadarmo a jednoho dne si správce řekl, že ho to už nebaví a stejně z toho nic nemá, tak to zabalil.
    Myslete na to, že je za tím spousta práce, tak oceňte i jí a ne jen náklady. Kdyby toto byl jakýkoliv "business" projekt, tak byste platili za přístup k mapě úplně jiné peníze a rozhodně by nebyl bez omezení jako teď.
    Např. zde mapa v Americe <a href="https://www.716map.com/">716map</a>, kde se platí 10$ měsíčně jen za mapu.

</p>
