@page
@model ChangelogModel

<div class="card">
    <div class="card-body">
        <h4 class="card-title">15.8.2017</h4>
        <ul>
            <li>Přidán changelog.</li>
            <li>Přidána stránka s užitečnými odkazy.</li>
            <li>Odkaz na zákon o sušenkách kvůli adsense.</li>
        </ul>
    </div>
</div>