@page

<h1>Discord BOT</h1>

<p>
    Mnoho měst a komunit využívá různé způsoby pro domluvu raidů.
    Jelikož všechny způsoby, které jsme zkusili mi (nám) nevyhovovovali, vytvořil jsem BOTa na Discordu.
    <strong>Z hlavních vlastností, které BOT umí je efektivně domlouvat raidy</strong>.
    To znamená, že vidíte kdo na raid jde a jestli má cenu vůbec na místo chodit.
    Dále umí přidávat lidi do teamů (pomocí rolí + barvy), nastavit level, vypsat základní info o bossech, vypisovat statistiky teamů atd.
</p>
<p>
    BOT běží nejdéle ve Frýdku - Místku (od začátku prázdnin).
    Nově běží pár dní i v Praze a odedneška i v Přerově.
    Klidně se přijdte podívat na kterýkoliv zmíněný Discord a omrknout jak to funguje v praxi.
</p>
<p>
    V případě, že byste měli zájem a chtěli byste BOTa i na Vašem Discordu, tak mi napište na Discord (Pako#3904) a domluvíme se.
</p>
<div class="text-muted">Psáno 29. 10. 2017</div>