@page
@model DonateModel
@{
    ViewData["Title"] = "Podpořte web";
}

<div class="card text-white bg-success mb-3">
    <div class="card-body">
        <p class="card-text">
            Web můžete podpořit pomocí platby na PayPal pomocí tlačítka níže nebo zasláním jakékoliv částky na bankovní účet.
            Prosím, uveďte do popisu pro příjemce město nebo část města, ke kterému se příspěvek vztahuje.
            Moc děkuji za vaši podporu.
        </p>
    </div>
</div>

<p>
    <a href="https://www.paypal.me/nagaspogo" target="_blank" role="link">
        <img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-rect-paypal-34px.png" alt="PayPal">
    </a>
</p>

<h3>Účet</h3>
<p>1024315458/6100</p>