@page
@model DonateModel

<p>
    <a href="https://www.paypal.me/nagaspogo" target="_blank" role="link">
        <img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-rect-paypal-34px.png" alt="PayPal">
    </a>
</p>

<h3>Účet</h3>
<p>1024315458/6100</p>