@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="alert alert-primary" role="alert">
    Informace o vytvoření účtu pro přístup k mapám najdete v sekci FAQ nebo mě kontaktujte na Discordu viz odkazy v menu.
</div>

@Html.Partial("CarouselPartial", Model.Images)
@Html.Partial("MapsPartial", Model.Maps)