@page
@{
    ViewData["Title"] = "Údaje";
}
<p>
    Název společnosti: Ing. Martin Konečný
    <br />
    Sídlo: Frýdek-Místek
    <br />
    IČ: 06344437
    <br />
    Podnikatel zapsaný v živnostenském rejstříku pod ID: 140674080
</p>