@page
@model MapsModel
@{
    ViewData["Title"] = "Mapy";
}

<div class="alert alert-info" role="alert">
    Nenašel jsi svoje město? Nevadí, je možnost ho přidat!
</div>

@Html.Partial("MapsPartial", Model.Maps)