<footer class="bg-dark text-white">
    <div class="container-fluid">
        <div class="text-center mx-auto p-1">&copy; 2017 - Nagas.cz
        |
        <a href="https://www.google.com/intl/cs/policies/technologies/cookies/" class="badge badge-secondary">Ochrana údajů</a>
        |
        <a asp-page="/Changelog" class="badge badge-secondary">Changelog</a>
        </div>
    </div>
</footer>