<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a asp-page="/Index" class="navbar-brand"><img src="~/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="nagas.cz logo"> Nagas.cz</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a asp-page="/Maps" class="nav-link"><i class="fa fa-map" aria-hidden="true"></i> Mapy</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/LinkShare" class="nav-link"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Užitečné odkazy</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Questions" class="nav-link"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/AboutProject"><i class="fa fa-comment" aria-hidden="true"></i> O projektu</a>
                    </li>

                    <li class="nav-item dropdown pull-right">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="socicon-discord"></span> Discord
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://discord.gg/pbZgX97" target="_blank" role="button">Praha</a>
                            <a class="dropdown-item" href="https://discord.gg/ZMnT9ht" target="_blank" role="button">Frýdek - Místek</a>
                        </div>
                    </li>
                </ul>
                <div class="my-2 my-lg-0">
                    <a class="btn btn-success" href="https://www.paypal.me/nagaspogo" target="_blank" role="button">
                        <i class="fa fa-eur" aria-hidden="true"></i> Podpořte web
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>