@{
    ViewData["Title"] = "Přihlášení";
}
<h2>Přihlášení</h2>

<p>
    Pro přihlášení využijte libovolnou službu třetí strany.
</p>

<form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div>
        <p>
            <button type="submit" class="btn btn-outline-primary" name="provider" value="Google" title="Přihlášení pomocí Google účtu">
                <i class="fa fa-google" aria-hidden="true"></i> Google
            </button>
            <button type="submit" class="btn btn-outline-primary" name="provider" value="Facebook" title="Přihlášení pomocí Facebook účtu">
                <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
            </button>
            <button type="submit" class="btn btn-outline-primary" name="provider" value="Discord" title="Přihlášení pomocí Discord účtu">
                <i class="socicon-discord" aria-hidden="true"></i> Discord
            </button>
        </p>
    </div>
</form>